.content {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #e0ece8;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14pt;
    
    display: flex;
    flex-direction: column;
}
header {
    margin: 15px auto 0 auto;
    width: 70%;
    height: 60px;
    background: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
}
a {
    margin: auto;
    border-right: 1pt solid #2e69ced8;    
    width: 250px;
    height: 40px;
    padding-bottom: 20px;
    text-decoration: none;
    text-align: center;
    text-decoration: none;
    color: black;
}
a:last-child{
    border-right: none;
}
a:focus, a:hover {
    background: #ff4d00b0;
    transition: 1s;
}

.main {
    margin: 25px auto 10px auto;
    width: 70%;
    height: 84%;
    background: #ffffff;
}
