main{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #e0ece8;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14pt;
    
    display: flex;
    flex-direction: column;
}
.mainblock{
    position: relative;
    width: 500px;
    height: 280px;
    border-radius: 5px;
    margin: auto;
    padding-top: 10px;
    background: #ffffff;
    border: 1pt solid #2F80ED;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.mainblock:hover{
    border: 1pt solid #2e69ce;
}
label,input {
    display: block;
}
label{
    padding: 3px 0 5px 20px;
}
input[type='text']{
    position: relative;
    background: #E0E0E0;
    border: 1px solid #000000;
    border-radius: 2px;
    padding-left: 10px;
    width: 300px;
    height: 30px;
    box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.1);
    font-size: 11pt;
}
input[type='text']:hover{
    border: 1px solid #2e69ce;        
}
input[type='text']:focus{
    background: rgba(255, 221, 68, 0.863);        
}
input[type='submit']{
    position: relative;
    background: #2F80ED;
    border-radius: 2px;
    border: 0;
    color: white;
    width: 120px;
    height: 30px;
    float: right;
    margin-top: 15px;
    font-size: 11pt;
}
input[type='submit']:hover{
    background: #2e69ce;
}