.formPayment {
  display: inline-flex;
  margin: 0 2% 0 6%;
  width: 88%;
  max-height: 24.1vmax;
}

.listContract {
  margin-right: 3%;
  width: 31%;
  overflow-y: auto;
}
.listContract tr:hover {
  cursor: pointer;
}
