.filial_list {
  font-weight: bold;
  padding: 10px 10px 10px 0;
  margin: 40px 7.1% 0 7.05%;
  color: #292929e5;
}
.main.filial {
  background: #fff;
  box-shadow: 0px 0px 30px 0px #2929293a;
  margin-top: 1.5%;
  width: 85%;
  height: 76%;
}
.filial {
  background-color: #efefefd3;
}

.info {
  margin: 3% 7%;
}
.phones {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: -2%;
}
.phones img {
  width: 30px;
  height: 30px;
}
.phones h5 {
  padding-left: 1%;
}
.siteSkyBank {
  color: #2b86d1;
}
.siteSkyBank:hover {
  color: rgb(42, 153, 243);
}
