.filial_list {
    position: relative;
    margin: 50px 0 0 70px;
    width: 844px;
    color: white;
    background: #ee4902bd;
    padding: 10px 0 10px 15px;
}

.filial td {
    border: 2pt solid white;
    height: 30px;
}
