.currentuser {
    font-weight: bold;
    padding-left: 10px;
    margin: 40px 7.1% 0 7.05%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.currentuser:hover{
    color: #003791;
}
/* .system_user th {
    переделать в карточку ?
} */