.currentuser {
    color: white;
    background: #ee4902bd;
    padding-left: 10px;
    margin: 40px 7.1% 0 7.05%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.system_user th {
    background: whitesmoke;
    color: black;
}