table {
  background: #fff;
  width: 100%;
  color: #292929;
  border-collapse: collapse;
  font-size: 10pt;
}

.borrower,
.filialUser,
.contracts {
  width: 93%;
  margin: 0 3% 0 4%;
  border-radius: 5px;
}

.filial table {
  width: 60%;
  margin: 0 7%;
  border-radius: 5px;
}

.filial tr {
  border-bottom: 1.3pt solid #fff;
}

th {
  height: 45px;
  background-color: #008cff42;
  color: #00325c98;
  padding-left: 20px;
  vertical-align: middle;
  text-align: left;
  font-size: 9pt;
}
th:first-child {
  border-radius: 5px 0 0 0;
}
th:last-child {
  border-radius: 0 5px 0 0;
}

td {
  height: 50%;
  padding: 10px;
  padding-left: 20px;
  text-align: left;
}

tr {
  border-bottom: 1.3pt solid rgba(196, 196, 196, 0.5);
}
tr:last-child {
  border-bottom: 0;
}
tr.trMain:hover {
  background-color: rgba(0, 149, 236, 0.1);
}

.selected {
  background-color: rgba(122, 238, 87, 0.5);
}
.unselected:hover {
  background-color: rgba(122, 238, 87, 0.2);
}

.add_row {
  display: flex;
  flex-direction: column;
}

.radio_btn {
  transform: scale(1.3);
  cursor: pointer;
  outline: none;
}

.alertHeader {
  display: flex;
  align-items: center;
  flex-direction: row;
  box-shadow: none;
  justify-content: space-between;
  margin: -10px 0 10px 0;
  font-size: 10pt;
  color: #292929e5;
}

.alertName {
  padding: 0 0 13px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.add_row input[type="password"] {
  border: 1.2px solid #d2dce3;
  margin: 0;
  padding: 1px 10px;
  width: 240px;
  height: 30px;
}

.add_row input[type="text"],
.add_row input[type="email"],
.add_row input[type="date"],
.add_row select {
  border: 1.2px solid #d2dce3;
  padding-left: 10px;
  width: 250px;
  height: 30px;
}

.add_row input[type="date"] {
  height: 32px;
  font-family: Arial, Helvetica, sans-serif;
}

.add_row select {
  width: 262px;
  height: 33px;
}
.add_row input[type="text"]:hover,
.add_row [type="password"]:hover,
.add_row input[type="email"]:hover,
.add_row select:hover {
  border: 1.2px solid #4fa0e2ce;
}
.add_row input[type="text"]:focus,
.add_row [type="password"]:focus,
.add_row input[type="email"]:focus,
.add_row select:focus {
  border: 1.2px solid #4fa0e2ce;
}

button {
  background: #42a5f5;
  border: 0;
  border-radius: 20px;
  color: white;
  margin-right: 8px;
  width: 130px;
  height: 35px;
  outline: none;
}
button:hover {
  cursor: pointer;
  background: #3a8fd4;
}

.table_header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-bottom: 40px;
  width: 100%;
  box-shadow: none;
  padding: 25px 0 25px 0;
  align-items: center;
}
.button_container {
  margin-right: 2.5%;
  display: flex;
  align-items: center;
}
.control_button.del {
  background-color: tomato;
}
.control_button.del:hover {
  background-color: rgb(228, 88, 63);
}
.findBlock {
  margin-left: 80px;
}

.filterDate {
  display: inline-flex;
  align-items: center;
}

input[type="date"]::-webkit-inner-spin-button {
  display: none;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  color: #2c3e50;
}

.filterDate input[type="date"] {
  width: 120px;
  height: 15px;
  padding: 10px 10px;
  border-radius: 5px;
  border: 1.2px solid #d2dce3;
  outline: none;
  margin-right: 10px;
  color: #001d3398;
  font-family: "Helvetica", arial, sans-serif;
}

.filterDate input[type="date"]:hover,
input[type="date"]:focus {
  border: 1.2px solid #4ba3ebe1;
}

.filterGraphs {
  width: 220px;
  height: 40px;
  padding: 10px 10px;
  border-radius: 5px;
  border: 1.2px solid #d2dce3;
  margin-right: 10px;
  color: #001d3398;
  outline: none;
  font-family: "Helvetica", arial, sans-serif;
}
.filterGraphs:hover,
.filterGraphs:focus {
  border: 1.2px solid #4ba3ebe1;
}

.findBlock {
  display: inline-flex;
  align-items: center;
}

.search_bar {
  width: 345px;
  height: 15px;
  padding: 13px 15px;
  border-radius: 5px;
  border: 1.2px solid #d2dce3;
  outline: none;
  margin-right: 10px;
}

.search_button {
  background: #fff;
  border-radius: 25px;
  vertical-align: middle;
  padding-top: 5px;
  margin-left: 5px;
  width: 40px;
  height: 40px;
  outline: none;
}
.search_button:hover {
  background: #e0e0e0;
}

.cancel_button {
  all: unset;
  width: 30px;
  height: 32px;
  margin: -1px 5px 0 -40px;
  text-align: center;
  font-size: 1.5em;
  font-weight: 200;
  outline: none;
  z-index: 1;
}

.cancel_button:hover {
  cursor: pointer;
  background-color: unset;
}

.alertBlock {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(87, 87, 87, 0.308);
  backdrop-filter: blur(6px);
  z-index: 2;
  top: 0;
  left: 0;
  font-size: 10pt;
}

.cancelAlert {
  all: unset;
  color: rgba(0, 0, 0, 0.8);
  font-size: 25px;
}
.cancelAlert:hover {
  background-color: unset;
}
.add_row.alertForm {
  width: 31%;
  margin: 10% auto 0 auto;
  border-radius: 3px;
  background-color: white;
  padding: 18px;
  min-width: 400px;
  max-height: 70vh;
}

.inputBlock {
  padding-right: 8px;
  box-sizing: border-box;
  width: 100%;
  overflow-y: auto;
}

.alertButton {
  display: flex;
  margin-top: 15px;
  justify-content: flex-end;
}

.buttonEdit {
  margin-right: 10px;
  width: 187px;
}

.radioBlock {
  display: inline-flex;
  margin-left: 17%;
}
.radioBlock label {
  display: inline-flex;
  padding: 10px 15px 5px 0;
}
.radioBlock input[type="radio"] {
  cursor: pointer;
}
