table {
    background: #ccccccec;
    width: 100%;
    border-collapse: collapse;
    border: 1pt solid white;
    font-size: 16px;
}

.table_container {
    margin: 0 7%;
}

th {
    height: 50px;
    background: rgba(47, 127, 233, 0.924);
    color: white;  
    vertical-align: middle;
}

td {
    border: 2pt solid white;
    height: 50%;
    padding: 10px;
    text-align: center;
}

.add_row {
    display: flex;
    flex-direction: column;
}

.add_row input[type='text'] {
    background: #E0E0E0;
    border: 1px solid #000000;
    border-radius: 2px;
    padding-left: 10px;
    width: 270px;
    height: 30px;
    float: right;
    box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.1);
    font-size: 11pt;
}
.add_row input[type='text']:hover{
    border: 1px solid #2e69ce;        
}
.add_row input[type='text']:focus{
    background: rgba(255, 221, 68, 0.863);        
}
.alertName {
    padding-top: 10px;
}

button {
    background: #ff4d00b0;
    border-radius: 2px;
    border: 0;
    color: white;
    font-size: 11pt;
    width: 120px;
    height: 30px;
}
button:hover {
    background: #ee4902bd;
}

.button_container {
    float: right;
}

.table_header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

button.control_button {
    margin-left: 5px;
}

.search_bar {
    margin-right: 10px;
}
.search_bar:hover {
    border: 1px solid #2e69ce;
}

.search_button {
    border-radius: 25px;
    vertical-align: middle;
    width: 42px;
    height: 42px;
}

.alertBlock {
    position: absolute;
    width: 100%;
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
    top: 0;
    left: 0;
}

.add_row.alertForm {
    width: 30%;
    margin: auto;
    margin-top: 10%;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
}

.alertButton {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

.buttonOk {
   margin-right: 8px;
}
