table {
    background: #e1e7e9;
    width: 100%;
    color: #292929;
    border-collapse: collapse;
    font-size: 16px;
}

.table_container {
    margin: 0 7%;
}

th {
    height: 50px;
    background: #ff4b5f;
    color: #fff;     
    vertical-align: middle;
}

td {
    border-bottom: 2pt solid #fff;
    height: 50%;
    padding: 10px;
    text-align: center;
}

.add_row {
    display: flex;
    flex-direction: column;
}

.add_row input[type='text'], select{
    background: #E0E0E0;
    border: 1px solid #000000;
    padding-left: 10px;
    width: 270px;
    height: 30px;
    float: right;
    box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.1);
    font-size: 11pt;
}
select{
    width: 281px;
    height: 35px;
}
.add_row input[type='text']:hover, option:hover{
    border: 1px solid #2e69ce;        
}

.alertName {
    padding-top: 10px;
}

button {
    background: #003891ed;
    border: 0;
    border-radius: 4px;
    color: white;
    font-size: 11pt;
    width: 122px;
    height: 37px;
}
button:hover {
    cursor: pointer;
    background: #002d75ed;
}

.button_container {
    float: right;
}

.table_header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-shadow: none;
    margin-top: 2%;
}

button.control_button {
    margin-left: 5px;
}

.search_bar {
    width: 400px;
    height: 15px;
    font-size: 12pt;
    padding: 13px 15px;
    /* border-radius: 2px; */
    border: 1px solid #d2dce3;
    margin-right: 10px;
}
.search_bar:hover {
    border: 1px solid #2e69ce;
}

.search_button {
    background: #fff;
    border-radius: 25px;
    vertical-align: middle;
    padding-top: 5px;
    width: 42px;
    height: 42px;
}
.search_button:hover {
    background: #E0E0E0;
    transition: 0.3s;
}

.cancel_button {
    all: unset;
    width: 30px;
    height: 32px;
    margin: -4px 5px 0 -40px;
    text-align: center;
    font-size: 1.5em;
    font-weight: 200;
    z-index: 1;
}

.cancel_button:hover {
    cursor: pointer;
    background-color: unset;
}

.alertBlock {
    position: absolute;
    width: 100%;
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
    top: 0;
    left: 0;
    font-size: 12pt;
    overflow-y: scroll;
}

.add_row.alertForm {
    width: 30%;
    margin: auto;
    margin-top: 6%;
    background-color: white;
    padding: 15px 30px 30px 30px;
}

.alertButton {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

.buttonEdit {
   margin-right: 8px;
   width: 175px;
}

.buttonAdd {
    margin-right: 8px;
 }
